<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>服务器端API</title>
    <link
      rel='stylesheet'
      href='https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css'
    />
    <link
      rel='stylesheet'
      href='https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/fontawesome.min.css'
    />
    <style>
      .logo{ width: 80px; } a{ text-decoration: none; } ::selection{
      background-color: #ed2945; color: white; }
    </style>
  </head>
  <body class='container'>
    <h1 class=''>接口基础代码</h1>
      <div class="alert alert-primary">
        <h2>需要授权访问的接口需要在请求头中传递token</h2>
      </div>
  </body>
</html>
